<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="student_course_system.Student">
        <property name="courses">
            <set>
            </set>
        </property>
    </bean>

    <bean id="course" class="student_course_system.Course">
        <property name="students">
            <set>
            </set>
        </property>
    </bean>

</beans>